<% if (locals.errors) { %>
 <ul class="validation-errors">
  <% errors.forEach(error => { %>
   <li><%= error.msg %></li>
  <% }) %>
 </ul>
<% } %>

<% if (locals.authenticationError) { %>
  <ul class="authentication-error">
    <% authenticationError.forEach(error => { %>
      <li><%= error %></li>
    <% }) %>
  </ul>
<% } %>