<% if (locals.flashMessage) { %>
 <div class="flash-message">
  <% flashMessage.forEach(message => { %>
    <p><%= message %></p>
  <% }) %>
 </div>
 <% } %>
 
 <% if (locals.flashMessageError) { %>
  <div class="flash-message error">
   <% flashMessageError.forEach(message => { %>
     <p><%= message.msg %></p>
   <% }) %>
  </div>
<% } %>