<header class="form-header">
<nav>
  <a href="/">Home</a>
  <a href="<%= currentPath === '/log-in' ? '/sign-up' : '/log-in' %>">
    <%= currentPath === '/log-in' ? 'Sign up' : 'Log in' %>
  </a>
</nav>
</header>