<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/global') %>
  <link rel="stylesheet" href="/styles/share.css">
  <title>Share Folders | File Uploader</title>
</head>
<body>
  <%- include('partials/header') %>
  <main>
    <dialog>
      <form class="folder-form" action="/share/create" method="post">
        <button class="close-modal" type="button"><img src="/images/close.svg" alt="Close modal"></button>
        <div>
          <label>
            Folder name:
            <input type="text" name="folderName" required>
          </label>
          <button type="submit">Create folder</button>
        </div>
      </form>
    </dialog>
    <section class="hero">
      <p>This is your shared folders library</p>
      <p>Below are all your folders where you can share them with anyone!</p>
    </section>
    <section class="folders-container">
      <div class="create-folder">
        <button>Share a new folder</button>
      </div>
      <div class="folders-info">
        <p>Name</p>
        <p>URL</p>
      </div>
      <div class="folders">
        <% if (folders.length > 0) { %>
          <% folders.forEach(folder => { %>
           <div class="folder">
            <p><%= folder.name %></p>
            <a href="/share/folder/<%= folder.id %>">Link</a>
           </div>
          <% }) %>
        <% } else { %>
          <p class="empty-text">You have no shared folders.</p>
        <% } %>
      </div>
    </section>
  </main>
  <script src="/scripts/share.js"></script>
</body>
</html>