<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/global') %>
  <link rel="stylesheet" href="/styles/storage.css">
  <title>Storage</title>
</head>
<body>
  <%- include('partials/header') %>
  <main>
    <h1>HII</h1>
  </main>
</body>
</html>